@use "../../../../scss/variables";

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #f0f0f0;
}

// Navigation bar styling
nav {
  background-color: variables.$primary-color;
  color: variables.$text-light;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: variables.$text-light;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #bbdefb; /* Lighter shade of blue for hover effect */
}

// Button styles for the navbar
.nav-button {
  background-color: variables.$secondary-color;
  color: variables.$text-light;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: variables.$secondary-hover;
}

// Responsive design for smaller screens
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    margin-top: 10px;
  }

  nav ul li {
    margin: 10px 0;
  }
}
