<div class="quiz-list-container">
  <c-navbar>
    <c-container fluid>
      <div cNavbarBrand class="h3">Explore your quizes</div>
    </c-container>
  </c-navbar>

  <c-container fluid>
    <c-row>
      @for (quiz of quizList; track $index) {
      <c-col xs="1" md="2" lg="4">
        <c-card class="mb-3">
          <div cCardImg="top" class="preview-span bg-light"></div>

          <c-card-body>
            <h5 cCardTitle>{{ quiz.name }}</h5>
            <p cCardText>
              {{ quiz.description }}
            </p>
            <p cCardText>
              <small class="text-medium-emphasis">
                {{ quiz.created | date }}
              </small>
            </p>
          </c-card-body>
        </c-card>
      </c-col>
      }
    </c-row>
  </c-container>
</div>
