$primary-color: #0d47a1; // Navy Blue 900
$primary-hover: #08306b; // Navy Blue (Darker)
$secondary-color: #1976d2; // Blue 700
$secondary-hover: #0d47a1; // Navy Blue 900 (used for hover)
$text-light: white;
$text-dark: #212121;
$background-color: #f0f0f0;
$card-shadow: 0 4px 10px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
$card-shadow-hover: 0 8px 18px rgba(0, 0, 0, 0.2);
