/* You can add global styles to this file, and also import other style files */
@use "variables";
@use "@coreui/coreui/scss/coreui";

html,
body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  height: 100%;
  margin: 0;
  background-color: var(--cui-tertiary-bg);
}
